{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Liider !
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="jumbotron text-center m-3 p-2" style="width:100%">
                <h1 class="display-2 text-center">Bienvenue sur Liider</h1>
                <p class="lead text-center">Première plateforme dédiée aux jeunes créateurs d'entreprises !</p>
                <hr class="my-4">
                <p>Bénéficiez d'un <strong>outil de gestion commercial</strong> , d'une <strong>visibilité sur le web</strong> et d'un <strong>réseau d'entrepreneurs</strong> au même endroit !</p>
                <p class="lead">
                    <p><a class="btn btn-success btn-lg" href="#" role="button">Se connecter</a> <a class="btn btn-primary btn-lg" href="#" role="button">Découvrir Liider</a></p>
                    <p class="h6 mt-1"><a href="#">Pas encore inscrit ?</a></p>
                </p>
            </div>
        </div>
        <div class="row">
            {% for entreprise in entreprises %}
                <div class="col-md-4">
                    <div class="card border-primary  mb-4">
                        <h3 class="card-header">{{ entreprise.nom }}</h3>
                        <h5 class="card-title mt-3 mx-2">Directeur :
                            {{ entreprise.leader.firstName}}
                            {{ entreprise.leader.LastName}}</h5>
                        <img alt="Card image" src="https://via.placeholder.com/200" style="height: 200px; width: 100%; display: block;">
                        <div class="card-body">
                            <p class="card-text">{{ entreprise.description | raw | slice(0, 110) ~ '...'}}</p>
                        </div>
                        <div class="card-body">
                            <a class="card-link float-right" href="{{ path('entreprise_show' , { slug : entreprise.slug }) }}">Voir la fiche</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
