{% extends "base.html.twig" %}

{% block title %}
    {{ article.title}}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row  mt-4">
            <div class="col-md-7">
                <h2>{{ article.title }}</h2>
                <p>Créé le
                    {{ article.createdAt|date("d/m/Y")}}
                    par
                    <a href="{{ path('entreprise_show' , {slug : article.author.entreprise.slug} ) }}">{{ article.author.firstName}}</a>
                </p>
                {% if article.imageName %}
                    <img alt="{{ article.imageName}}" class="img-fluid rounded mb-3 mb-md-0" style="width:100%" src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('thumb') }}">
                {% else %}
                    <img alt="" class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/500x300">
                {% endif %}


                <p class="mt-4">{{article.content | raw}}</p>
            </div>

            <!-- LIOR -->
            <div class="col-md-5 mt-5">
                <div class="bg-light rounded mb-3 py-3 px-3">
                    <strong>Entreprise :
                        {{ article.author.entreprise.nom }}</strong>
                    <blockquote>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, ipsum?
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
   <a href="{{ path( 'article_delete', {'slug' : article.slug}) }}" class="btn btn-danger">Supprimer</a>
{% endblock %}
